@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

  
.EN .title{
    font-family:"EuroStyle", sans-serif;
}

.CZ .title{
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: content-box;
}

.dark ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(20, 20, 20);
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(209, 209, 209);
}

@media only screen and (max-width: 500px) {
    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: transparent
    }
    
    ::-webkit-scrollbar-thumb {
        background: #e0e0e0;
    }

    .dark ::-webkit-scrollbar-thumb {
        background: #303030;
    }
}