@font-face {
    font-family: "EuroStyle";
    src: url("Eurostile/EuroStyleNormal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EuroStyle";
    src: url("Eurostile/EurostileOblique.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
  }
  
  @font-face {
    font-family: "EuroStyle";
    src: url("Eurostile/EurostileBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: "EuroStyle";
    src: url("Eurostile/EurostileExtended.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
  }